.user-bookings-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
}

.user-booking{
  display: flex;
  gap:1rem;
  background-color: rgba(221, 221, 221, 0.522);
  border-radius: 0.6rem;
  overflow: hidden;
  vertical-align:text-top;
  width:80vw;
  min-width: fit-content;
}

.user-booking-info{
  display: flex;
  flex-direction: column;
  gap:0.6rem;
  padding-top:1rem;
  padding-bottom: 1rem;
  padding-right:1rem;
}

.user-booking-photo-container img{
  width:230px;
  height:200px;
  object-fit: cover;
}

.user-booking-title{
  font-weight: bold;
  font-size: larger;
}

.user-booking-nights-dates{
  display: flex;
  color: rgb(79, 79, 79);
  font-size: large;
  gap:1rem;
}

.user-booking-nights-container{
  display: flex;
  align-items: center;
  gap:0.3rem;
}

.user-booking-dates{
  display: flex;
  align-items: center;
  gap:0.3rem;
}

.user-booking-date{
  display: flex;
  align-items: center;
  gap:0.2rem;
}

.user-booking-price{
  font-size: large;
  font-weight: bold;
  display: flex;
  gap:0.5rem;
  align-items: center;
}

.user-booking-cancel{
  width:fit-content;
}

.cancel-booking-modal{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%)translateY(-50%);
  padding:2rem;
  border: 3px solid rgb(149, 149, 149);
  border-radius: 1.3rem;
  text-align: center;
  width:fit-content;
}

.cancel-booking-modal::backdrop {
  background-color: black;
  opacity: 0.5;
}

.cancel-booking-title{
  margin-top: 0.5rem;
}

.cancel-booking-dates{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:1rem;
  margin-bottom:1rem;
}

.cancel-booking-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.7rem;
}
.cancel-booking-button{
  width:100%;
  font-size: 1rem;
}

.no-bookings{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;
}

.explore-places{
  padding:1.5rem;
  font-weight: bold;
  font-size: larger;
  border-radius: 0.3rem;
}

.explore-places:hover{
  transform: scale(1.02);
}

.explore-places:active{
  transform: scale(0.98);
}

@media screen and (max-width:550px){
  .user-booking{
    flex-direction: column;
  }

  .user-booking-photo-container > img{
    width: 100%;
    aspect-ratio: 16/7;
  }

  .user-booking-info{
    text-align: center;
    align-items: center;
    padding-left:1rem;
    padding-right:1rem;
  }

  .cancel-booking-modal{
    width:70vw;
  }
}

@media screen and (max-width:400px){
  .user-booking-nights{
    font-size: smaller;
  }

  .user-booking-date{
    font-size: smaller;
  }

  .cancel-booking-modal{
    width:80vw;
  }

  .explore-places{
    padding:0.8rem;
    font-size: medium;
    font-weight: 100;
  }
}