.form-container{
  display: flex;
  flex-direction: column;
  height:100vh;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.form-heading{
  font-weight: bold;
  font-size: xx-large;
}

.auth-form{
  display: flex;
  flex-direction: column;
  gap:0.8rem;
  width: 40vw;
  max-width: 500px;
  width: 80%;
}

input{
  border: 1px solid lightgray;
  padding:0.5rem;
  border-radius: 1rem;
  font-size:1rem;
  outline: none;
  width:100%;
}

.pass{
  position: relative;
}

.toggle-pass{
  position: absolute;
  right:0;
  background-color: rgba(255, 255, 255, 0);
  height: 100%;
  border: none;
  padding:0.6rem;
  cursor: pointer;
}

.redirect{
  font-size: 1rem;
  color: rgb(122, 122, 122);
}

.redirect > a{
  color:black;
  margin-left:0.3rem;
}

.response-message{
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
}

.form-error{
  color: red;
  font-size: 1.07rem;
  padding-left:0.4rem;
}