.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem;
  border-bottom:1px solid lightgray;
  gap:2rem;
  position: fixed;
  z-index: 1000;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
}

.logo{
  display: flex;
  align-items: center;
  gap:0.4rem;
  color: black;
  text-decoration: none;
}

.logo > p{
  font-weight: bold;
  font-size: xx-large;
}



.profile{
  display: flex;
  align-items: center;
  gap:0.4rem;
  border:1px solid lightgray;
  padding:0.4rem;
  padding-left:1rem;
  padding-right:1rem;
  border-radius:1.3rem;
  color: black;
  text-decoration: none;
}

.search-input{
  border: none;
  flex: 1;
  min-width: none;
}

@media screen and (max-width:600px){
  .header{
    gap:1.2rem;
  }
}