.accommodation-container{
  padding:1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:5em;
}

.accommodation{
  width:80vw;
}

.accommodation-title-address > h1{
  margin-bottom:0.5rem;
}

.accommodation-location{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

.accommodation-photos-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap:0.4rem;
  width:100%;
  height: fit-content;
  margin-top: 2rem;
  position: relative;
  cursor: pointer;
}

.accommodation-photos-container2{
  display: grid;
  gap:0.2rem;
}

.accommodation-photo{
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
}

.last-photo-container{
  overflow: hidden;
}

.last-photo{
  position: relative;
  top: -0.5rem;
}

.see-all-photos-button{
  position: absolute;
  display: flex;
  align-items: center;
  gap:0.3rem;
  right: 1rem;
  bottom: 1.5rem;
  padding:.6rem;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.see-all-photos-container{
  top: 0;
  position: absolute;
  z-index:2000;
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:2rem;
  text-align: center;
}

.all-photos{
  display: flex;
  flex-direction: column;
  gap:1rem;
  margin-top: 1rem;
  padding-right:2rem;
  padding-left:2rem;
}

.all-photos-photo{
  width:100%;
  aspect-ratio: 16/8;
  object-fit: cover;
}

.close-all-photos{
  position: fixed;
  display: flex;
  align-items: center;
  gap:0.3rem;
  background-color: rgb(230, 229, 229);
  border: none;
  border-radius: 1.3rem;
  padding:0.7rem;
  right:10%;
  cursor: pointer;
}

.accommodation-description-check-in-out-book{
  margin-top:1rem;
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  width: 100%;
  gap:2rem;
}

.accommodation-description{
  text-align: justify;
  text-justify:inter-word;
}

.accommodation-book{
  background-color: rgba(211, 211, 211, 0.099);
  border:1px solid lightgray;
  border-radius: 1rem;
  height: fit-content;
  width: 100%;
  padding:1rem;
}

.accommodation-check-in-out{
  margin-top: 0.8em;
}

.accommodation-book-price{
  text-align: center;
}

.accommodation-book-dates{
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  gap:0.4rem;
  border: 1px solid lightgray;
  padding-bottom:0.5rem;
}

.book-check-in-out{
  border-bottom: 1px solid lightgray;
}

.book-input{
  border: none;
  background: none;
}

.book-check-in{
  border-bottom: 1px solid lightgray;
  padding:0.4rem;
}

.book-check-out{
  padding:0.4rem;
}

.book-button{
  width: 100%;
  margin-top:1rem;
}

.accommodation-extra-info{
  margin-top:2rem;
  text-align: justify;
}

.accommodation-extra-info > h2,
.accommodation-description > h2{
  margin-bottom:0.5rem;
}

.accommodation-extra-info > p{
  color: rgb(95, 95, 95);
}

.accommodation-booking-total{
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin-top:1.3rem;
}

@media screen and (max-width:700px){
  .accommodation-description-check-in-out-book{
    grid-template-columns: 1fr;
    place-content: center;
  }

  .accommodation{
    width:90vw;
  }

  .book-check-in-out{
    flex-wrap: wrap;
  }

  .accommodation-book{
    max-width: fit-content;
  }

  .accommodation-book-container{
    display: flex;
    justify-content: center;
  }

  .all-photos{
    padding:0;
  }

  .accommodation-photos-container{
    grid-template-columns: auto;
  }
}

@media screen and (max-width:600px){
  .see-all-photos-container{
    padding:1rem;
  }
  .all-photos-photo{
    width: 100%;
    aspect-ratio: 16/11;
  }
}