.accommodation-page{
  width:100%;
}

#add-new-accommodation{
  display: flex;
  justify-content: center;
  align-self: center;
  gap:0.3rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.accommodations{
  display: grid;
  gap:2rem;
  grid-template-columns: repeat(auto-fit,minmax(200px,250px));
}

.accommodation{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.04);
  padding:1rem;
  border-radius:0.7rem;
}

.accommodation-image{
  height:20vh;
  width: 100%;
  object-fit: contain;
  margin-bottom:1rem;
}

.accommodation-title{
  font-weight: bold;
  font-size: large;
  margin-bottom: 0.4rem;
}

.accommodation-image-title-address{
  flex:1;
}

.edit-accommodation{
  color: white;
  background-color: var(--primary-color);
  padding:0.7rem;
  border: none;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

@media screen and (max-width:500px){
  .accommodations{
    place-content: center;
  }
}